.cont{
    display:flex; 
    background-color: aqua;
}
.cont>div{
    background-color: pink;  
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}